

.container .row {
  text-align: center;
  padding: 10px;
  font-size: 20pt;
  margin: auto;
}


.container .row a{
  text-decoration: none;
  color: #ffffff !important;
}

.form-inline{
  display: block !important;
}


.form-group{
  text-align: center;
}

.container .table{
  margin-top: 80px;
}